*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

button {
    cursor: pointer;
}



.library {
    display: grid;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.card {
    width: 1056px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    border: 1px solid red;
    line-height: 1;
}