/* FONTFACE
====================================================== */

@font-face {
    font-family: "Cormorant Garamond Variable";
    src: url("./fonts/CormorantGaramond-Variable.woff2") format("woff2-variations");
    font-weight: 100 900;
    font-stretch: 50% 150%;
    font-display: swap;
}

@font-face {
    font-family: "Gill Sans";
    src: url("./fonts/GillSans.woff2") format("woff2"),
         url("./fonts/GillSans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gill Sans";
    src: url("./fonts/GillSans-Medium.woff2") format("woff2"),
         url("./fonts/GillSans-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gill Sans";
    src: url("./fonts/GillSans-Light.woff2") format("woff2"),
         url("./fonts/GillSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* VARIABLES
====================================================== */

:root { 
    --c-black: #0c0c0c;
    --c-grey: #757575;

    --c-grey-50: #fafafa;
    --c-grey-100: #f5f5f5;
    --c-grey-200: #eeeeee;
    --c-grey-300: #e0e0e0;
    --c-grey-400: #bdbdbd;
    --c-grey-500: #9e9e9e;
    --c-grey-600: #757575;
    --c-grey-700: #616161;
    --c-grey-800: #424242;
    --c-grey-900: #212121;

    --c-background: #f5f0e8;
    --c-bg-aside: #e7ded1;

    --c-text-default: #0c0c0c;
    --c-text-muted: #757575;
}

/* NORMALISE
====================================================== */

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

button {
    cursor: pointer;
}

hr {
    border: none;
}

/* BASE
====================================================== */

h1, h2, h3, h4 {
    font-family: "Cormorant Garamond Variable", serif;
}

body {
    height: 100vh;
    font-family: "Gill Sans", sans-serif;
    line-height: 1.4;
    background-color: var(--c-background);
    color: var(--c-black);
}

.container {
    height: 100%;
    display: grid;
    grid-template: auto 1fr / 2fr 4fr;
    grid-template-areas: 
    "stats header"
    "form library";
}

/* HEADER
====================================================== */

header {
    grid-area: header;
    position: sticky;
    top: 0;
    background-color: var(--c-background);
}

.header-text {
    padding: 120px 36px 36px;
}

header h1 {
    position: relative;
    top: -12px;
    font-size: 3rem;
    line-height: 1.2;
}

header p {
    font-size: 1.25rem;
    color: var(--c-text-muted);
}

header hr {
    max-width: 900px;
    margin: 0px 36px;
    border-top: 1px solid var(--c-grey-400);
}

/* MAIN
====================================================== */

.library {
    grid-area: library;
    display: grid;
    grid-auto-rows: min-content;
    padding: 36px 36px 100px;
}

.card {
    max-width: 900px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 0.3fr 0.5fr 0.2fr;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
    border-bottom: 1px solid var(--c-grey-400);
}

.card h3 {
    font-size: 1.25rem;
}

.card p {
    padding-top: 8px;
    line-height: 1;
    color: var(--c-text-muted);
}

.modal-delete-btn {
    background: none;
    border: none;
}

.delete-icon {
    width: 20px;
    height: 20px;
    stroke: currentColor;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

/* ASIDE
====================================================== */

aside {
    display: contents;
}

.stats-section {
    position: sticky;
    top: 0;
    grid-area: stats;
    display: flex;
    justify-content: end;
    padding: 120px 36px 0px;
    background-color: var(--c-bg-aside);
}

.stats-wrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 320px;
    min-width: 260px;
}

.stats-wrapper hr {
    margin-top: auto;
    border-top: 1px solid var(--c-background);
}

li {
    text-transform: uppercase;
    text-align: end;
    font-size: 0.8125rem;
}

li h4 {
    display: inline;
    position: relative;
    top: -1px;
    margin-right: 6px;
    font-size: 1.125rem;
    line-height: 1;
}

li p {
    display: inline;
    color: var(--c-text-muted);
}

/* form */

form {
    grid-area: form;
    display: flex;
    justify-content: end;
    padding: 36px 36px 0px;
    background-color: var(--c-bg-aside);
}

.form-wrapper {
    position: sticky;
    top: 278px;
    align-self: start;
    display: flex;
    flex-direction: column;
    flex-basis: 320px;
    min-width: 260px;
}

.form-wrapper h2 {
    padding: 20px 0px;
    font-size: 1.25rem;
}

.form-wrapper hr {
    border-top: 1px solid var(--c-background);
}

.form-content {
    display: grid;
    margin-top: 20px;
}

label {
    text-transform: uppercase;
    font-size: 0.8125rem;
}

input {
    background: linear-gradient(to bottom, #00000005, transparent);
    color: var(--c-input-text);
    padding: 6px 10px 6px;
    border: 1px solid var(--c-grey-500);
    box-shadow: inset 0px 3px 3px -1px #0000000a;
    border-radius: 2px;
    transition: border 0.15s ease-in-out;
    font-weight: 400;
}

.add-book-button {
    text-align: end;
    margin-top: 20px;
}

.add-book-button button {
    padding: 6px 14px;
    text-transform: uppercase;
}