/* VARIABLES
====================================================== */

:root { 
    --c-black: #0c0c0c;
}

/* NORMALISE
====================================================== */

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

button {
    cursor: pointer;
}

/* BASE
====================================================== */

body {
    height: 100vh;
    font-family: "Inter Variable", sans-serif;
    line-height: 1.4;
    color: var(--c-black);
}

.container {
    height: 100%;
    display: grid;
    grid-template: auto 1fr / 2fr 4fr;
    grid-template-areas: 
    "stats header"
    "form library";
    background-color: bisque;
}

/* HEADER
====================================================== */

header {
    grid-area: header;
    padding-top: 100px;
    padding-right: calc(0px + 2vw);
    padding-left: calc(0px + 2vw);
    background-color: darkseagreen;
}

/* MAIN
====================================================== */

.library {
    grid-area: library;
    display: grid;
    grid-auto-rows: min-content;
    gap: 10px;
    padding-right: calc(0px + 2vw);
    padding-left: calc(0px + 2vw);
    background-color: burlywood;
}

.card {
    max-width: 900px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 0.3fr 0.5fr 0.2fr;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
    border: 1px solid red;
    line-height: 1;
}

.delete-icon {
    width: 20px;
    height: 20px;
    stroke: currentColor;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

/* ASIDE
====================================================== */

aside {
    display: contents;
    background-color: darkgrey;
}

.stats {
    grid-area: stats;
    display: flex;
    justify-content: end;
    padding-top: 100px;
    padding-right: calc(0px + 2vw);
    padding-left: calc(0px + 2vw);
    background-color: cadetblue;
}

ol {
    flex-basis: 320px;
    min-width: 260px;
}

form {
    grid-area: form;
    display: flex;
    justify-content: end;
    padding-right: calc(0px + 2vw);
    padding-left: calc(0px + 2vw);
    background-color: azure;
}

.form-section {
    flex-basis: 320px;
    min-width: 260px;
}

.form-content {
    display: grid;
}